<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>   
      <add name="HotelDB"
           connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;initial catalog=HotelDB"
           providerName="System.Data.SqlClient" /> 
  </connectionStrings>
</configuration>